@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');
body {-webkit-font-smoothing: antialiased; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; font-weight: 400; line-height: normal; color: #333;}

/*reset*/
* {font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; font-weight: normal; font-style: normal;}
p {margin:0;}
ul, ol, dl {margin:0; padding:0;}
li, dd {margin:0; padding:0; list-style: none;}
a {text-decoration: none; color: #333;}
a:hover, a:focus {text-decoration: none; color:#4db2f7; cursor: pointer;}
a, img, input, button, select, textarea {vertical-align: middle;}
em {font-style: normal;}
strong {font-weight: normal;}

.dropdown-menu {border-radius: 0; padding:0;}
.dropdown-menu>li>a {padding: 5px 20px;}

/*header*/
.navbar-inverse {background:#fff;}
.navbar-brand {display: block; width: 177px; margin-left: 0 !important; text-indent: -9999px; background:url('/images/h_logo.png') no-repeat center; background-size: contain;}
.navbar-inverse .navbar-nav>li>a {font-size: 14px; color: #515974;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {color:#4db2f7;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {background: transparent; color:#4db2f7; box-shadow: none;}
.navbar-nav .h_sns em {color: #4db2f7;}
.navbar-nav .h_order .count {float: right;}
.navbar-nav .h_mymenu .btn {width: 100%; padding:5px 20px; text-align: left;}

/*side menu*/
.sidebar {top:50px; padding:0; border-right: none; background-color:#1b2133}
.side_menu > ul > li > .nav {display: none;}
.side_menu > ul > li.open > .nav {display: block;}
.side_menu > ul > li {border-top: 1px solid #161c2e;}
.side_menu .depth2 {display: block; padding:10px 20px; color:#fff;}
.side_menu span.depth2 {cursor: pointer;}
.nav-sidebar {margin:0;}
.nav-sidebar > li > a {padding-left:40px; color: #4c546e;}
.nav>li>a:focus, .nav>li>a:hover {background: transparent; color:#fff;}
.nav-sidebar > .active > a {position: relative;}
.nav-sidebar > .active > a::before {content:''; display: block; width: 3px; height: 44px; position: absolute; top: 0; left: 0;; background: #e83732;;}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {background: #0c1224;}

/*top menu*/
.depth1_wrap {background: #1b2133;}
.top_nav {width: 100%; display: table; table-layout: fixed;}
.top_nav > li {display: table-cell;}
.top_nav > li > a {display: block; height:60px; line-height: 60px; text-align: center; color:#fff;}
.top_nav > li > a:hover, .top_nav > li > a:focus {color:#4db2f7;}
.top_nav > li.active {border-bottom: 2px solid #4db2f7;}
.top_nav > li.active a {color:#4db2f7;}

/*본문영역*/
.main {padding:0;}
#contain {padding:25px 20px; background: #e4ebf7;}
.content {background: #fff;}